body {
	padding-top: 70px;
	font-size: 1.8em;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin: auto;
}

.row {
	margin-top: 30px;
}

.foot-text {
	font-size: 0.8em;
	padding: 5px 0px 5px 0px;
}

.to-right {
	float: right;
}

.to-left {
	float: left;
}

.no-margin {
	margin: 0px 0px 0px 0px;
}

footer {
	border-top: 1px solid black;
	margin-top: 50px;
	margin-bottom: 30px;
}

.fill-space {
	width: 100%;
	height: 100%;
}

.makeBigger {
	width: 50%;
	height: 50%;
	-webkit-transition: width 2s, height 2s;
	transition: width 2s, height 2s;
}

.makeBigger:hover {
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.navbar-fixed-top {
		position: relative;
		top: auto;
	}
	.navbar-collapse {
		max-height: none; 
	}
	body {
		padding-top: 0px;
		font-size: 1.5em;
	}
	.makeBigger {
	width: 100%;
	height: 100%;
	}

	button {
		margin-top: 10px;
		margin-right: 10px;
	}
}